@model IEnumerable<zadatak1.Models.Ispiti>

@{
    ViewBag.Title = "Index";

    if (Session["UserID"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Predmeti.naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Studenti.ime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Predmeti.naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Studenti.ime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
