@model IEnumerable<zadatak1.Models.Predmeti>

@{
    ViewBag.Title = "Index";

    if (Session["UserID"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}

<h2>Spisak predmeta</h2>

<p>
    @Html.ActionLink("Dodaj novi predmet", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.naziv)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.naziv)
        </td>
        <td>
            @Html.ActionLink("Uredi", "Edit", new { id = item.sifraPredmeta }) |

            @* @Html.ActionLink("Detalji", "Details", new { id=item.sifraPredmeta }) |*@

            @Html.ActionLink("Obrisi", "Delete", new { id = item.sifraPredmeta })
        </td>
    </tr>
}

</table>
